@font-face {
    font-family: "neoDunggeunmoPro";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/neoDunggeunmoPro/neoDunggeunmoPro.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/neoDunggeunmoPro/neoDunggeunmoPro.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/neoDunggeunmoPro/neoDunggeunmoPro.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/neoDunggeunmoPro/neoDunggeunmoPro.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/neoDunggeunmoPro/neoDunggeunmoPro.ttf") format("truetype");
    font-display: swap;
} 
.neoDunggeunmoPro {
    font-family: "neoDunggeunmoPro";
}